html,
body {
    height: 100%;
    width: 100%;
    font-family: 'Roboto', sans-serif;
}

.padding {
    padding-bottom: 10px
}

.embed-responsive-item {
    margin: 5px
}

.fab {
    color: red;
    font-size: 50px;
    margin: 100px
}

.fa-instagram {
    color: #231F20
}

.fa-twitter {
    color: #38A1F3
}

.fa-facebook-f {
    color: #4267b2
}

.fa-google-plus-g {
    color: #DB4437
}

.fa-pinterest-p {
    color: #BD081C
}

.fa-youtube {
    color: #ED3833
}

.navbar a {
    font-size: 1.2em;
    color: #f99e1a;
}

.navbar li {
    padding: 25px
}

.characters {
    color: #218ffe;
}

.potg {
    color: #218ffe;
}

.social {
    color: #218ffe;
    text-transform: uppercase
}

.card {
    margin: 5px
}


