 /* body */

 html,
 body {
  height: 100%;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  background-image: url("img/overmainbg.jpg");
  background-color: black;
  box-sizing: border-box;
 }

 /* general */

 .padding {
  padding-bottom: 2em
 }

 /* navbar */

 .navbar a {
  font-size: 1em;
  color: #f99e1a;
  transition: transform .1s;
 }

 .navbar a:hover {
  color: #218ffe;
  -ms-transform: scale(1.1);
  /* IE 9 */
  -webkit-transform: scale(1.1);
  /* Safari 3-8 */
  transform: scale(1.1);
 }

 .navbar li {
  margin-right: 1.5em;
  text-align: center;
 }

 /* carousel */

 .carousel-inner img {
  height: 100%;
  width: 100%;
 }

 /* characters */

 .carbon {
  color: #f99e1a;
  text-align: center;
  text-transform: uppercase;
 }

 .carbonbg {
  background-image: url("img/carbon.jpg");
 }

 .charstitle h1 {
  text-transform: uppercase;
  text-align: center;
  color: #218ffe;
 }

 .charstitle h3 {
  color: #000000;
  text-align: center
 }

 .titles {
  color: #218ffe;
  font-weight: bold;
 }

 .card {
  width: 150px;
  margin: 5px;
  border-color: white;
  border-width: 2px;
  border-radius: 1px;
 }

 .cardtext {
  background-color: rgba(40, 53, 79, 0.9);
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 25%;
 }

 .fa-plus {
  color: white;
  position: absolute;
  left: 0
 }

 .name {
  color: white;
  position: absolute;
  width: 100%;
  top: 25%;
  text-transform: uppercase;
  text-align: center;
  font-size: 2em
 }

 .zoom {
  transition: transform .1s;
 }

 .zoom:hover {
  -ms-transform: scale(1.1);
  /* IE 9 */
  -webkit-transform: scale(1.1);
  /* Safari 3-8 */
  transform: scale(1.1);
  z-index: 10;
 }

 /* potg */

 .embed-responsive {
  margin-bottom: 25px
 }

 /* social */

 .fab {
  font-size: 2em;
  margin: 30px
 }

 .fa-instagram {
  color: #231F20
 }

 .fa-twitter {
  color: #38A1F3
 }

 .fa-facebook-f {
  color: #4267b2
 }

 .fa-google-plus-g {
  color: #DB4437
 }

 .fa-pinterest-p {
  color: #BD081C
 }

 .fa-youtube {
  color: #ED3833
 }

 .fa-shield-alt {
  color: white;
  padding: 10px 5px
 }

 .end {
  color: #f99e1a
 }

 .end h4 {
  color: #218ffe
 }

 .end hr {
  background-color: white
 }

 @media screen and (max-width: 576px) {
  .charstitle h1,h3{
   font-size: 150%;
  }
  .carbon {
   font-size: 150%;
  }
  .card {
   width: 30%
  }
  .name{
   font-size: 150%;
  }
  .fas {
    font-size: 80%;
  }
 }

 /*
.col- (extra small devices - screen width less than 576px)
.col-sm- (small devices - screen width equal to or greater than 576px)
.col-md- (medium devices - screen width equal to or greater than 768px)
.col-lg- (large devices - screen width equal to or greater than 992px)
.col-xl- (xlarge devices - screen width equal to or greater than 1200px)

*/
 